* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recuadro {
  width: 90%;
  height: 98vh;
  border: solid 2px rgba(110, 110, 110, 0.822);
  border-radius: 15px;
  margin: auto;
  margin-top: 12px;
}

.header__titulo {
  text-align: center;
  margin-bottom: 15px;
}

hr {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.header__botones {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header__botones input {
  border: 2px solid;
  height: 25px;
  width: 85px;
  border-radius: 15px;
  font-size: 0.7rem;
  transition: all 300ms;
}
.header__botones input:hover {
  background-color: bisque;
  color: black;
  transform: scale(1.2);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 10vh;
}

.footer__iconos {
  display: flex;
  gap: 30px;
}
.footer__iconos i {
  color: aliceblue;
  font-size: 1.3rem;
}
.footer__iconos a {
  transition: all 300ms;
}
.footer__iconos a:hover {
  transform: scale(1.5);
}

.footer__audio {
  width: 180px;
  height: 50px;
  justify-content: center;
}

@media (min-width: 720px) {
  .footer__audio {
    width: 250px;
  }
}
.fondo__index {
  background-image: url(/img/fondo-principal.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

.main {
  width: 100%;
  height: 75%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.section__logo {
  width: 100%;
  margin-top: 60px;
  max-width: 800px;
}
.section__texto {
  text-align: center;
  margin-top: 25px;
  max-width: 700px;
}

.fondoparteuno {
  background-image: url(/img/fondo-parte-uno.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  font-family: "Rubik", sans-serif;
}

.mainparteuno {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.sectionuno {
  display: grid;
}
.sectionuno__logo-uno {
  width: 100%;
  max-width: 800px;
  align-self: center;
}

.historia__titulo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.historia__texto {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.premios__titulo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.premios__texto {
  text-align: center;
}

.video__iframe {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 600px;
}

@media (min-width: 720px) {
  .mainparteuno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo premios" "historia trailer";
  }
}
@media (min-width: 720px) {
  .sectionuno {
    grid-area: logo;
    justify-self: center;
    max-width: 700px;
  }
}
@media (min-width: 720px) {
  .video {
    grid-area: trailer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 720px) {
  .video__iframe {
    max-width: 680px;
    max-height: 400px;
  }
}
@media (min-width: 720px) {
  .historia {
    grid-area: historia;
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 720px) {
  .premios {
    grid-area: premios;
    align-self: center;
    justify-self: center;
    max-width: 550px;
  }
}
.fondopartedos {
  background-image: url(/img/fondo-parte-dos.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

.fondohbo {
  background-image: url(/img/fondo_hbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(66, 66, 66);
  font-family: "Rubik", sans-serif;
}

.video {
  display: flex;
  flex-direction: column;
}
.video__iframehbo {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.video__titulo {
  margin-top: 10px;
  text-align: center;
}

.historiahbo {
  color: antiquewhite;
  background-color: rgba(95, 158, 160, 0.705);
  border-radius: 10px;
}
.historiahbo__titulo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.historiahbo__texto {
  text-align: center;
}

hr {
  color: rgb(221, 236, 6);
  border: 2px solid;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.tarjeta__titulo {
  color: antiquewhite;
}
.tarjeta .card {
  margin-bottom: 10px;
  transition: all 300ms;
}
.tarjeta .card:hover {
  transform: translateY(-20px);
}

@media (min-width: 720px) {
  .mainhbo {
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "historia trailer" "tarjeta-uno tarjeta-dos";
  }
}

@media (min-width: 720px) {
  hr {
    display: none;
  }
}

@media (min-width: 720px) {
  .historiahbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 720px) {
  .video {
    justify-content: center;
    align-items: center;
  }
}
.video__iframehbo {
  max-width: 650px;
  border: 3px solid rgb(80, 79, 79);
}

@media (min-width: 720px) {
  .tarjeta {
    grid-column: 1/span 3;
    display: flex;
    flex-direction: row;
  }
}
.tarjeta .card {
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .tarjeta {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
}
header h1 {
  margin-left: 30px;
}
header nav {
  margin-right: 30px;
}

@media (min-width: 1200px) {
  .historiahbo {
    margin: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
