.fondo-contacto {
    background-image: url(/img/fondo-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-principal;
    font-family: $fuente-principal;
}


.contacto {
    margin-top: 15px;
    background-color: rgba(117, 117, 117, 0.336);
    border-radius: 10px;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__titulo {
        text-align: center;
    }

    &__texto {
        text-align: justify;
    }
}

hr {
    color:bisque;
    margin-bottom: 10px;
}

.formulario {
    width: 100%;
    background-color: rgba(117, 117, 117, 0.829);
    border-radius: 10px;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}