.fondohbo {
    background-image: url(/img/fondo_hbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(66, 66, 66);
    color: $color-principal;
    font-family: $fuente-principal;
}



.video {
    display: flex;
    flex-direction: column;

    &__iframehbo {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        border-radius: 10px;
        
    }

    &__titulo {
        margin-top: 10px;
        text-align: center;
    }
}

.historiahbo {
    color: antiquewhite;
    background-color: rgba(138, 164, 165, 0.644);
    border-radius: 10px;
    &__titulo {text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        
    }

    &__texto {
        text-align: center;
    }
}

hr {
    color: rgb(221, 236, 6);
    border: 2px solid;
}


.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    &__titulo {
        color: antiquewhite;
    }

    .card {
        color: black;
        margin-bottom: 10px;
        transition: all 300ms;
    }

    .card:hover {
        transform: translateY(-20px);
    }
}