.header__botones {
    display: flex;
    justify-content: center;
    gap: 10px;

    input {
        border: 2px solid;
        height: 25px;
        width: 85px;
        border-radius: 15px;
        font-size: 0.7rem;
        background-color: aqua;
    }
}