.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 10vh;
}

.footer__iconos {
    display: flex;
    gap: 30px;
    
    i {
        color: aliceblue;
        font-size: 1.3rem;
    }
    
    a {
        transition: all 300ms;
    }

    a:hover {
        transform: scale(1.5);
    }
}
