.footer__iconos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
    i {
        font-size: 1.3rem;
    }
    
    a {
        transition: all 300ms;
    }

    a:hover {
        transform: scale(1.5);
    }
}